# Control Statements

## Prime Number Checker

In [ ]:
import math
x=int(input('Enter a number: '))
flg=1
for i in range(2,int(math.sqrt(x))+1,1):
  if x%i==0:
    flg=0
    break
if flg:
  print(f'{x} is a prime number')
else:
  print(f'{x} is not a prime number')

Enter a number: 1
1 is a prime number

## Leap Year Checker

In [ ]:
x=int(input('Enter a year: '))
if (x % 4 ==0 and (x%100!=0)) or x%400==0:
  print(f'{x} is a leap year')
else:
  print(f'{x} is not a leap year')

Enter a year: 400
400 is a leap year

## Largest of Three Numbers

In [ ]:
arr= list(map(int,input('enter 3 numbers :').split()))
if len(arr) !=3:
  print('enter exactly 3 numbers')
else:
  maxi=arr[0]
  for i in range(len(arr)):
    if arr[i]>maxi:
      maxi = arr[i]
  print(maxi)

enter 3 numbers :3123 6543 63
6543

# Grading System

In [ ]:
x=int(input('Enter a number: '))
grade='Unknown'
# match case a - 90 -10 b- 70 to 90 c- 50-70 d-40-50 fail <40
if x>90:
  grade='A'
  print(f'Grade of {x} is {grade}')

Enter a number: 90

# Triangle Validity

In [ ]:
a,b,c=map(float,input('enter the lengths of 3 triangle sides').split())
if a+b>c and b+c>a and c+a>b:
  print('Triangle is valid')
else:
  print('Not a valid triangle')

enter the lengths of 3 triangle sides100 1000 1
Not a valid triangle

## Palindrome Number

In [ ]:
x= int(input('enter the number :'))
revx=0
temp=x
while temp>0:
  revx=revx*10+temp%10
  temp//=10
if x==revx:
  print('palindrome')
else :
  print('not a palindrome')

enter the number :4645464
palindrome

# Armstrong Number

In [ ]:
import math
x=int(input('enter the number :'))
temp=x
len=math.floor(math.log(x,10))+1
sum=0
for i in range(len):
  sum+=(temp%10)**len
  temp//=10
if x==sum:
  print('armstrong number')
else:
  print('not an armstrong number')

enter the number :1634
armstrong number

## Sum of Even and Odd Numbers

In [ ]:
def iseven(x):
  if x%2==0:
    return True
  else:
    return False
x=int(input('enter the number :'))
even_sum=0
odd_sum=0
for i in range(x+1):
  if iseven(i):
    even_sum+=i
  else:
    odd_sum+=i
print(f'sum of even numbers : {even_sum}')
print(f'sum of odd numbers : {odd_sum}')

enter the number :10
sum of even numbers : 30
sum of odd numbers : 25

## Fibonacci Sequence

In [ ]:
x=int(input('enter the level of fibonaci :'))
print("Fibonacci Sequence : 0  1",end='  ')
c=1
p=0
for i in range(x-2):
  t=c
  c=c+p
  p=t
  print(f'{c}',end='  ')

enter the level of fibonaci :10
Fibonacci Sequence : 0  1  1  2  3  5  8  13  21  34

## Factorial Calculator

In [ ]:
def factorial_calculator(x):
  if x in (1,0):
    return 1
  else:
    return (x*factorial_calculator(x-1))
x=int(input('enter the number :'))
print(f'Factorial of {x} is {factorial_calculator(x)}')

enter the number :5
Factorial of 5 is 120

# Strings

## Reverse a String:

In [ ]:
strn=input('enter string :')
def reverse_string(s):
    reversed_str = ""
    for char in s:
      reversed_str = char + reversed_str
    return reversed_str
print(f'reversed str = {reverse_string(strn)}')

enter string :krishna
reversed str = anhsirk

## Count Vowels and Consonants

In [ ]:
strn=input('enter string with only alphabets :')
def count_vowels_consonants(s):
    vowels = ['a','e','i','o','u']
    vow_count=0
    cons_count=0
    s=s.lower()
    s=s.strip()
    for i in s:
      if i in vowels:
        vow_count+=1
      else:
        cons_count+=1
    return vow_count,cons_count
vow_count,cons_count=count_vowels_consonants(strn)
print(f'vowels count = {vow_count}')
print(f'consonants count = {cons_count}')

enter string with only alphabets :abc
vowels count = 1
consonants count = 2

## Check Substring

In [ ]:
s1=input('enter string 1 : ')
s2=input('enter string 2 : ')
def check_substring(s1,s2):
  if s2 in s1:
    return True
  else:
    return False
print(check_substring(s1,s2))

enter string 1 : krishna
enter string 2 : krish
True

## String Anagram Check

In [ ]:
s1=input('enter string 1 : ')
s2=input('enter string 2 : ')
def metadata(s):
  dic=dict()
  for i in s:
    if i in dic.keys():
      dic[i]+=1
    else:
      dic[i]=1
  return dic
if metadata(s1)==metadata(s2):
  print('anagram')
else:
  print('not an anagram')

enter string 1 : listen
enter string 2 : silent
anagram

## Remove Duplicates

In [ ]:
s1=input('enter string 1 : ')
lis=list(s1)
print(f'Duplicates removed string: {"".join(set(lis))}')

enter string 1 : hello
Duplicates removed string: hoel

## Longest Word in a Sentence

In [ ]:
s1=input('enter sentence : ')
k= s1.split(' ')
maxi=k[0]
for i in k:
  if len(i)>len(maxi):
    maxi=i
print(f'longest word is {maxi}')

enter sentence : Hi i m krishna and i good
longest word is krishna

## Character Frequency

In [ ]:
def metadata(s):
  dic=dict()
  for i in s:
    if i in dic.keys():
      dic[i]+=1
    else:
      dic[i]=1
  print(dic)
s1=input('enter string 1 : ')
metadata(s1)

enter string 1 : hello world
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

## First Non-Repeating Character

In [ ]:
def metadata(s):
  dic=dict()
  for i in s:
    if i in dic.keys():
      dic[i]+=1
    else:
      dic[i]=1
  for i in dic.keys():
    if dic[i]==1:
      return i
  return None
s1=input('enter string 1 : ')
metadata(s1)

enter string 1 : krishna k

'r'

## Title Case Conversion

In [ ]:
s1=input('enter string 1 : ')
print(f'title case of \n"{s1}" is "{s1.title()}"')

enter string 1 : krishnam vande jagadgurum
title case of
"krishnam vande jagadgurum" is "Krishnam Vande Jagadgurum"

## Palindrome Check

In [ ]:
s1=input('enter string 1 : ')
if s1 == s1[::-1]:
  print('palindrome')
else:
  print('not a palindrome')

enter string 1 : ollo
palindrome

# Lists

## Find Maximum and Minimum

In [ ]:
lis=list(map(int,input('enter the numbers :').split()))
print(f'max = {max(lis)}')
print(f'min = {min(lis)}')

enter the numbers :4 5 532 6 -4
max = 532
min = -4

## List Reversal

In [ ]:
lis=list(input('enter the chars :').split())
lis=lis[::-1]
print(lis)

enter the chars :1632 t6r 564r
['564r', 't6r', '1632']

## Remove Duplicates from List with maintaining order

In [ ]:
lis=list(input('enter the chars :').split())
kis=list(lis[0])
for i in lis:
  if i not in kis:
    kis.append(i)

print(kis)

enter the chars :1 2 4 1 4 5 63
['1', '2', '4', '5', '63']

## List Rotation

In [ ]:
lis=list(input('enter the chars :').split())
rot=int(input('enter the rotation :'))
rotated_lis=lis[rot%len(lis):]+lis[:rot%len(lis)]
print(f'roated list by {rot} is \n',rotated_lis)

enter the chars :jkdf23 1d 425 5
enter the rotation :2
roated list by 2 is
 ['425', '5', 'jkdf23', '1d']

## Find Common Elements

In [ ]:
lis1=list(input('enter the chars :').split())
lis2=list(input('enter the chars :').split())
print(f'common elements are {list(set(lis1).intersection(lis2))}')

enter the chars :1 2 46 2
enter the chars :1 46 5
common elements are ['46', '1']

## List Sorting without Built-in Methods

In [ ]:
lis=list(map(int,input('enter the nums :').split()))
def merge_sort(lst):
    if len(lst) <= 1:
        return lst

    mid = len(lst) // 2
    left = merge_sort(lst[:mid])
    right = merge_sort(lst[mid:])

    return merge(left, right)

def merge(left, right):
    sorted_list = []
    i = j = 0
    while i < len(left) and j < len(right):
        if left[i] <= right[j]:
            sorted_list.append(left[i])
            i += 1
        else:
            sorted_list.append(right[j])
            j += 1

    sorted_list.extend(left[i:])
    sorted_list.extend(right[j:])

    return sorted_list


sorted_lst = merge_sort(lis)
print("Sorted list:", sorted_lst)

enter the nums :1 556 61 2
Sorted list: [1, 2, 61, 556]

## Pair with Sum

In [ ]:
def find_pairs(lst, target):
    seen = set()
    pairs = set()
    for num in lst:
        complement = target - num
        if complement in seen:
            pairs.add(tuple(sorted((num, complement))))
        seen.add(num)

    return list(pairs)

lis=list(map(int,input('enter the nums :').split()))
target = 6
result = find_pairs(lis, target)
print("Pairs with sum", target, ":", result)

enter the nums :1 2 3 4 5
Pairs with sum 6 : [(2, 4), (1, 5)]

## Flatten Nested List

In [ ]:
nested = [1, [2, [3, 4], 5], 6]
flat=[]
temp=nested[:]
while temp:
  i=temp.pop(0)
  if isinstance(i,list):
    temp=i+temp
  else:
    flat.append(i)
print(flat)

[1, 2, 3, 4, 5, 6]

In [ ]:
flat=[]
def flter(lis):
  for i in lis:
    if isinstance(i,list):
      flter(i)
    else:
      flat.append(i)

nested = [1, [2, [3, 4], 5], 6]

flter(nested)

print(flat)

[1, 2, 3, 4, 5, 6]

## Cumulative Sum

In [ ]:
lis=list(map(int,input('enter the nums :').split()))
cum_sum=[]
cum_sum.append(lis[0])
for i in range(1,len(lis)):
  cum_sum.append(cum_sum[i-1]+lis[i])
print(cum_sum)

enter the nums :1 2 3 4 5
[1, 3, 6, 10, 15]

## Second Largest Element

In [ ]:
lis=list(map(int,input('enter the nums :').split()))
maxi= lis[0]
smaxi=-1
for i in range(len(lis)):
  if lis[i]>maxi:
    smaxi=maxi
    maxi=lis[i]
  elif smaxi<lis[i]<maxi:
    smaxi=lis[i]
print(f'second largest element is {smaxi}')

enter the nums :4 5 5 5 2 3 4
second largest element is 4

# Programs on Functions

## Write a function to calculate the factorial of a number.

In [ ]:
def fact(n):
    if n < 0:
        return 'error'
    if n in [0,1]:
        return 1
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print(fact(4))

24

## Create a function to check if a number is prime

In [ ]:
import math

def is_prime(x):
    if x <= 1:
        return False
    for i in range(2, int(math.sqrt(x)) + 1):
        if x % i == 0:
            return False
    return True


x = int(input("Enter a number: "))
if is_prime(x):
    print(f"{x} is a prime number")
else:
    print(f"{x} is not a prime number")

Enter a number: 6
6 is not a prime number

## Write a function to find the greatest common divisor (GCD) of two numbers.

In [ ]:
m_i, m_j = map(int, input("Enter two numbers: ").split())
i=max(m_i,m_j)
j=min(m_i,m_j)
while i%j!=0:
  i,j=j,i%j
print(f'GCD of {m_i} and {m_j} is {j}')

Enter two numbers: 4 5
GCD of 4 and 5 is 1

## revese string

In [ ]:
def rev(stri):
  return stri[::-1]
print(rev('hello'))

olleh

## fibonacci

In [ ]:
def fibonacci_sequence(level):
    if level <= 0:
        print("Enter a positive number greater than 0")
        return
    elif level == 1:
        print("Fibonacci Sequence: 0")
        return
    elif level == 2:
        print("Fibonacci Sequence: 0  1")
        return

    print("Fibonacci Sequence: 0  1", end='  ')
    p = 0
    c = 1
    for _ in range(level - 2):
        t = c
        c = c + p
        p = t
        print(f"{c}", end='  ')
    print()
x = int(input("Enter the level of Fibonacci: "))
fibonacci_sequence(x)

Enter the level of Fibonacci: 5
Fibonacci Sequence: 0  1  1  2  3

## Create a function to check if a string is a palindrome

In [ ]:
def ispalindrome(stri):
  if stri == stri[::-1]:
    return 'is a palindrome'
  else:
    return 'is not a palindrome'
stri='madam'
print(f'{stri} '+ispalindrome(stri))

madam is a palindrome

## celcius to fahreheit

In [ ]:
def conv(num):
  return num*180/100 +32
cel=100
print(f'{cel} celcius is {conv(cel)} fahreheit')

100 celcius is 212.0 fahreheit

## Write a function to count the frequency of each character in a string

In [ ]:
def metadata(s):
  dic=dict()
  for i in s:
    if i in dic.keys():
      dic[i]+=1
    else:
      dic[i]=1
  print(dic)
s1=input('enter string 1 : ')
metadata(s1)

enter string 1 : 4 3 323 3
{'4': 1, ' ': 3, '3': 4, '2': 1}

## sum of even

In [ ]:
def sum_of_evens(lst):
    return sum(num for num in lst if num % 2 == 0)

print(sum_of_evens([1, 2, 3, 4, 5, 6]))

12

## rect perim

In [ ]:
def rectangle_area_perimeter(length, width):
    area = length * width
    perimeter = 2 * (length + width)
    return area, perimeter

a, p = rectangle_area_perimeter(5, 3)
print(f"Area: {a}, Perimeter: {p}")

Area: 15, Perimeter: 16

## Function to calculate compound interest

In [ ]:
def compound_interest(principal, rate, time, n):

    amount = principal * (1 + rate / (100 * n)) ** (n * time)
    interest = amount - principal
    return round(interest, 2)

ci = compound_interest(1000, 5, 2, 4)
print(f"Compound Interest: {ci}")

Compound Interest: 104.49

## Write a function to merge and sort two lists

In [ ]:
lis=list(map(int,input('enter the nums :').split()))
def merge_sort(lst):
    if len(lst) <= 1:
        return lst

    mid = len(lst) // 2
    left = merge_sort(lst[:mid])
    right = merge_sort(lst[mid:])

    return merge(left, right)

def merge(left, right):
    sorted_list = []
    i = j = 0
    while i < len(left) and j < len(right):
        if left[i] <= right[j]:
            sorted_list.append(left[i])
            i += 1
        else:
            sorted_list.append(right[j])
            j += 1

    sorted_list.extend(left[i:])
    sorted_list.extend(right[j:])

    return sorted_list


sorted_lst = merge_sort(lis)
print("Sorted list:", sorted_lst)

enter the nums :4 5 6 12 1
Sorted list: [1, 4, 5, 6, 12]

## Create a function to return the second largest number in a list

In [ ]:
def second_largest_element(lis):
    if len(lis) < 2:
        return "List needs at least 2 elements"

    maxi = lis[0]
    smaxi = float('-inf')

    for num in lis[1:]:
        if num > maxi:
            smaxi = maxi
            maxi = num
        elif smaxi < num < maxi:
            smaxi = num

    if smaxi == float('-inf'):
        return "No second largest (all elements equal?)"
    return smaxi

nums = list(map(int, input("Enter the nums: ").split()))
result = second_largest_element(nums)
print(f"Second largest element is: {result}")

Enter the nums: 5 54 32 35 7
Second largest element is: 35

## Find Longest Word in a Sentence

In [ ]:
def longest_word(sentence):
    words = sentence.split()
    longest = ""
    for word in words:
        if len(word) > len(longest):
            longest = word
    return longest


print(longest_word("krishnam vande jagadgurm"))

jagadgurm

## leap year

In [ ]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

print(is_leap_year(2024))

True

## sum of digits in a number

In [ ]:
def digisum(num):
  sum=0
  temp=num
  while temp>0:
    sum+=temp%10
    temp//=10
  return sum
print(digisum(12345))

15

## Create a function to generate a list of random numbers

In [ ]:
import numpy as np
def randm(num):
  lis=np.random.rand(num)
  print(lis)
randm(3)

[0.5439166  0.78047961 0.01643771]

## count vowels and conso

In [ ]:
def count_vowels_consonants(s):
    vowels = "aeiou"
    s = s.lower().strip()
    vowel_count = 0
    consonant_count = 0

    for ch in s:
        if ch.isalpha():
            if ch in vowels:
                vowel_count += 1
            else:
                consonant_count += 1

    return vowel_count, consonant_count

v, c = count_vowels_consonants("Hello World!")
print(f"Vowels: {v}, Consonants: {c}")

Vowels: 3, Consonants: 7

## Cal avg

In [ ]:
def average_of_list(numbers):
    if not numbers:
        return 0
    return sum(numbers) / len(numbers)


nums = [10, 20, 30, 40]
avg = average_of_list(nums)
print(f"Average: {avg}")

Average: 25.0

# Programs on Modules

## Create a module for basic mathematical operations (add, subtract, multiply, divide) and use it in a program

In [ ]:
class basic:
    def add(self, a, b):
        return a + b

    def subtract(self, a, b):
        return a - b

    def multiply(self, a, b):
        return a * b

    def divide(self, a, b):
        return "Cannot divide by zero" if b == 0 else a / b

## Create a module for string manipulation functions (reverse, palindrome check, count vowels).

In [ ]:
class Stri:
    def reverse(self, s):
        return s[::-1]

    def is_palindrome(self, s):
        s = s.lower().replace(" ", "")
        return s == s[::-1]

    def count_vowels(self, s):
        vowels = "aeiou"
        return sum(1 for ch in s.lower() if ch in vowels)

## Write a program to use the math module for trigonometric calculations.

In [ ]:
import math

class Trigonometry:
    def sin(self, deg):
        return math.sin(math.radians(deg))

    def cos(self, deg):
        return math.cos(math.radians(deg))

    def tan(self, deg):
        return math.tan(math.radians(deg))

    def cot(self, deg):
        return 1/math.tan(math.radians(deg))

## Write a program to use the random module to generate a random password.

In [ ]:
import random
import string

class PasswordGenerator:
    def generate(self, length=8):
        pool = string.ascii_letters + string.digits
        return ''.join(random.choices(pool, k=length))

## Create a module to calculate areas of geometric shapes (circle, rectangle, triangle) and import it.

In [ ]:
import math

class Geometry:
    def area_circle(self, radius):
        return math.pi * radius ** 2

    def area_rectangle(self, length, width):
        return length * width

    def area_triangle(self, base, height):
        return 0.5 * base * height

In [ ]:
from datetime import datetime

class DateTimeUtility:
    def current_datetime(self):
        now = datetime.now()
        return now.strftime("%Y-%m-%d %H:%M:%S")

In [ ]:
now = datetime.now()
now.strftime("%Y-%m-%d %H:%M:%S")

'2025-06-06 12:11:08'

## Write a program to use the os module to list all files in a directory.

In [ ]:
import os

class FileManager:
    def list_files(self, path='.'):
        return os.listdir(path)

## Create a module to handle file operations (read, write, append) and use it.

In [ ]:
class FileOps:
    def read(self, filename):
        with open(filename, 'r') as f:
            return f.read()

    def write(self, filename, data):
        with open(filename, 'w') as f:
            f.write(data)

    def append(self, filename, data):
        with open(filename, 'a') as f:
            f.write(data)

## Write a program to use the statistics module to calculate mean, median, and mode of a dataset.

In [ ]:
import statistics

class Stats:
    def mean(self, data):
        return statistics.mean(data)

    def median(self, data):
        return statistics.median(data)

    def mode(self, data):
        return statistics.mode(data)

## Create a module for converting units (length, weight, temperature) and use it in a program.

In [ ]:
class UnitConverter:
    def celsius_to_fahrenheit(self, c):
        return (c * 9/5) + 32

    def km_to_miles(self, km):
        return km * 0.621371

    def kg_to_pounds(self, kg):
        return kg * 2.20462